body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff; /* White text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xxx-large;
    background: url(https://t3.ftcdn.net/jpg/04/78/02/20/360_F_478022045_qMnwV12jSCAppHaqasmuWSWi323dLQtR.jpg);
    background-size: 100% 100%;

}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d6d6d6; /* Green button color */
    color: #ffffff; /* White text color */
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #636262; /* Darker green color on hover */
}